*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin: 10px 0;
}

a{
    color: #2279ca; 
    font-weight: bold;
    text-decoration: none;

}

.element{
    display: flex;
    flex-direction: column;
    width: auto;
}

input{
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button{
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.msg{
    border: 2px solid;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.err{
    border-color: red;
}

.success{
    border-color: greenyellow;
} 

.logout{
    color: coral;
    text-align: center;
}

.none{
    display: none;
}







/* --------------------------------------------------------------------------------------------- */

th, td{
    padding: 10px;
}

th{
    background-color: burlywood;
}

td{
    background-color: cornsilk ;
    margin: auto;
    align-items: center;
    justify-content: center
}

td > form{
    width: auto;
}

